@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 25px;
    color: #435f6b;
    background-color: #b8e8f0; 
    margin: 10px;
}

.container {
    max-width: 750px;
    margin: auto;
}

.image {
    text-align: center;
    margin-bottom: 30px;
}

.card {
    margin-bottom: 20px;
    padding: 40px 30px;
    background-color: rgb(107, 223, 207, 0.5);
    border: 3px solid rgb(255, 174, 53, 0.2);
    border-radius: 15px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

.card h1, .card h2 {
    margin: 0;
    margin-left: 30px;
    margin-bottom: 25px;
}

.bio {
    font-style: italic;
}

.card ol {
    margin: 0;
}

.hobby {
    background-color: rgb(220, 239, 255);
}

.hobby ul {
    margin: 0;
    padding: 0;
    margin-left: 10px;
    list-style: none;
}


.experience {
    background-color: rgb(255, 174, 53, 0.5);
}

.table {
    width: 100%;
    text-align: left;
}

td, th {
    padding-bottom: 10px;
    border-bottom: 1px solid grey;
}

.table tr:not(:only-child):hover {
    background-color: rgb(255, 174, 53, 0.2)
}

.footer {
    text-align: center;
    margin-bottom: 70px;
}

.footer h3 {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
}

.social {
    margin: 30px 0;
    padding: 20px;
}

.contact_me {
    margin-bottom: 10px;
}


a {
   text-decoration: none; 
   color: #435f6b;
}

a:hover {
    text-decoration: underline; 
    color: #19475a;
    font-weight: bold;
}

a:active {
    color: orange;
}

.button {
    background-color: #5dbaca;
    padding: 10px 20px;
    color: #14373d;
    font-family: ingerit;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.button:hover {
    opacity: .7;
    border: 1px solid rgb(255, 174, 53, 0.5);
    color: rgba(19, 80, 212, 0.993);
}